body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif;
  background-color: #f0e6d2;
}

.App {
  text-align: center;
}

.navbar {
  background-color: #006400;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-item {
  margin: 0 15px;
  text-decoration: none;
  color: #ffd700;
  transition: color 0.3s ease-in-out;
}

.navbar-item:hover {
  color: #ffa500;
}

h1 {
  color: #8b4513;
  margin-bottom: 2rem;
}

.carritoImg {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.resized-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  background-color: #ffffff;
  color: #006400;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2rem;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.title, .card-content h2 {
  color: #8b4513;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
  padding: 0 1rem;
}

.card-content p {
  color: #626262;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.cart-widget {
  display: flex;
  align-items: center;
  background-color: #ffd700;
  padding: 0.5rem;
  border-radius: 8px;
  margin-left: auto;
}

.CartWidget-span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #8b4513;
  padding: 0.25rem 0.5rem;
  background-color: #ffd700;
  border-radius: 50%;
  margin: 0 10px;
  display: inline-block;
  min-width: 35px;
  text-align: center;
}
.CartWidget-button{
  background-color: #006400;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.CartWidget-button:hover {
  background-color: #004d00;
}
.Details {
  background-color: #ffd700;
  color: #8b4513;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none; 
  display: inline-block; 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.Details:hover {
  background-color: #ffd633; 
  color: #8b4513;
}
